
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <link href="~/Content/MyContent/css/aboutus.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

</head>


<body>
    <section id="yakeaboutus">
        <div class="yakeabout">
            <div class="yakemain">
                <img src="~/Images/yakelogo.png">
                <div class="yakeabout-text">
                    <h1>Hakkımızda</h1>
                    <h5>Yazılımcı  <span class="yakeus">& Tasarımcı</span></h5>
                    <p>
                        Bizler YAKE-Shop ailesi olarak, sizlere daha güvenilir ve daha hızlı bir alışveriş imkanı sağlamak için
                        çalışıyoruz. Değerleri Görüşlerinizi veya karşılaştığınız sorunları ister iletişim panelimizden,ister hakkımızda panelimizden yani
                        aşağıda bulunan butona basarak bildirmekten çekinmeyiniz.
                        <br>
                        <br>
                        <br>


                    </p>
                    <button type="button" class="button61">İletişime Geçelim</button>

                </div>
            </div>
        </div>
        </section>
</body>

