
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim</title>
    <link href="~/Content/MyContent/css/contactus.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d755b7edb1.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section id="contact">
        <div class="container">
            <h1 class="title">Bize Ulaşın</h1>
            <div class="contact-area">
                <div class="cont-left">
                    <div class="cont-top">
                        <div class="cont-element">
                            <i class="far fa-address-card"></i>
                            <a>İstanbul/Türkiye</a>
                        </div>
                        <div class="cont-element">
                            <i class="far fa-envelope"></i>
                            <a href="mailto:furkansunger@fakemail.com">Yakeshop@gmail.com</a>
                        </div>
                        <div class="cont-element">
                            <i class="fas fa-phone-alt"></i>
                            <a href="tel:+1234567890">123-456-7890</a>
                        </div>
                    </div>
                    <div class="cont-bottom">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="cont-right">
                    <form action="">
                        <input type="text" name="text" id="text" placeholder="Tam Adınız">
                        <input type="email" name="email" id="email" placeholder="Email">
                        <textarea name="message" id="message" rows="10" placeholder="Mesaj"></textarea>
                        <button>Gönder</button>
                    </form>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/d/embed?mid=1yWrIDbAK7CHI6Le6H7fOgvaY-8NPmbs&ehbc=2E312F" width="1110" height="370"></iframe>
        </div>
    </section>
</body>

